*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  height: 800px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 133px 30px;
  gap: 30px;
}


.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  background-color: black;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: start;
}

.content__details {
  align-self: center;
  width: 400px;
  
}

.content__list {
  overflow: auto;
  max-height: 298px;
}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
}
